<!--Footer-->
<div class="footer footer-7 border-0">
  <div class="footer-top clearfix">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 footer-about">
          <div class="inner pe-lg-4 mb-3 mb-md-4 mb-lg-0">
            <h4 class="h4 body-font fw-600">A propos de nous</h4>
            <p>
              Notre vocation est de vous offrir le meilleur rapport qualité prix. Nous vous apporterons assitance dans la
              chaîne de bout en bout, afin de vous livrer vos articles le plus près de chez vous.
              <a href="aboutus-style1.html" class="d-inline-block"><u>En savoir plus</u></a>
            </p>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-2 footer-links">
          <h4 class="h4 body-font fw-600">INFORMATION</h4>
          <ul>
            <li><a href="my-account.html">Mon compte</a></li>
            <li><a href="aboutus-style1.html">A propos de nous</a></li>
            <li><a href="login.html">Cpnnexion</a></li>
            <li><a href="privacy-policy.html">Politique de confidentialité</a></li>
            <li><a href="#">Conditions générales</a></li>
          </ul>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-2 footer-links">
          <h4 class="h4 body-font fw-600">SERVICE CLIENT</h4>
          <ul>
            <li><a href="#">Center d'aide</a></li>
            <li><a href="#">Conditions générales</a></li>
            <li><a href="#">Echange</a></li>
            <li><a href="#">Livraison</a></li>
          </ul>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 newsletter-col">
          <div class="display-table">
            <div class="display-table-cell footer-newsletter">
              <form action="#" method="post">
                <label class="h4 body-font fw-600">BULLETIN</label>
                <p>
                  Abonnez-vous pour recevoir les dernières nouvelles de IA BAG, ainsi que des offres exclusives et bien plus encore.
                </p>
                <div class="input-group">
                  <input
                    type="email"
                    class="input-group__field newsletter-input mb-0 rounded-0"
                    name="EMAIL"
                    value=""
                    placeholder="Email"
                    required=""
                  >
                  <span class="input-group__btn">
                    <button type="submit" class="btn newsletter__submit rounded-0" name="commit" id="Subscribe">
                      <i class="an an-envelope-l"></i>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>

          <ul class="list-inline social-icons mt-3">
            <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="an an-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="an an-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="an an-pinterest-p" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="an an-instagram" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="TikTok"><i class="an an-tiktok" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Whatsapp"><i class="an an-whatsapp" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom clearfix">
    <div class="container">
      <div class="d-flex-center flex-column justify-content-md-between flex-md-row-reverse">
        <img src="assets/images/payment.png" alt="Paypal Visa Payments"/>
        <div class="copytext text-transform-none">&copy; 2025 IA BAG. Tous droits réservés.</div>
      </div>
    </div>
  </div>
</div>
<!--End Footer-->

<!--Scoll Top-->
<span id="site-scroll"><i class="icon an an-chevron-up"></i></span>
<!--End Scoll Top-->