<!--Required Meta Tags-->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="description">

<!-- Title Of Site -->
<title>IA BAG</title>

<!-- Favicon -->
<link rel="shortcut icon" href="assets/images/favicon.png" />

<!-- Plugins CSS -->
<link rel="stylesheet" href="assets/css/plugins.css" />

<!-- Main Style CSS -->
<link rel="stylesheet" href="assets/css/style.css" />
<link rel="stylesheet" href="assets/css/responsive.css" />
